# Logs
node_modules
deploy.yml
# Environment files
.env*

# Build output
deploy.yml
coverage/

# System files
.DS_Store
Thumbs.db
deploy.yml
# IDE/project files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
deploy.yml
# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
deploy.yml



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
deploy.yml